@import './font.css';
html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
    background: url('../img/background-rb.jpg') no-repeat center center/cover;
    background-color: #000;
    overflow: hidden;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.79);
    z-index: -2;
}

body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: url(../img/bg-pattern.png);
    z-index: -1;
    animation: backgroundPanel_anim 1000s linear infinite;
}

@keyframes backgroundPanel_anim {
    0%,
    100% {
        background-position-x: 0;
    }
    25%,
    50%,
    75% {
        background-position-x: 3000px;
    }
}

.app {
    width: 100%;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

.header {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
}

.form-container {
    width: 100%;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="file"] {
    margin-bottom: 1rem;
}

button {
    padding: 10px 20px;
    color: #fff;
    background: #43afff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.3s;
}

.info-use {
    color: red;
}

button:hover {
    background: #fff;
    color: #43afff;
}

#response {
    margin-top: 1rem;
    color: #fff;
}

.app-discord-social {
    position: fixed;
    right: 25px;
    bottom: 25px;
    color: #fff;
    font-size: 30px;
    opacity: 0.3;
    transition: 0.3s;
}

.app-discord-social:hover {
    color: #7289da;
    opacity: 1;
}

@media (max-width: 991px) {
    .header {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    .header {
        font-size: 1.5rem;
    }
}